<?xml version="1.0"?>

<launch>
  <include file="$(find p3dx_gazebo)/launch/gazebo.launch" />
  <arg name="model" default="$(find p3dx_description)/urdf/pioneer3dx.xml"/>
  <arg name="gui" default="False" />
  <param name="robot_description" textfile="$(arg model)" />
 
  
 <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find p3dx_control)/config/pioneer3dx.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/p3dx" args="joint1_position_controller joint2_position_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/p3dx/joint_states" />
  </node>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
  </include>
</launch>
