<?xml version="1.0"?>
<launch>

  	


    	

	<!-- Select the world -->
	<include file="$(find ensta_gazebo_worlds)/launch/world-3.launch" />
       
	<!--<include file="$(find gazebo_ros)/launch/empty_world.launch"/>-->
	<!-- upload robot description -->
		<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description"
		command="$(find xacro)/xacro.py '$(find p3dx_description)/urdf/pioneer3dx.xacro'" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>



	<!-- start robot state publisher -->
	<node pkg="robot_state_publisher" type="robot_state_publisher"
	name="robot_state_publisher" output="screen" >
	<param name="publish_frequency" type="double" value="50.0" />
	</node>



	<!-- Run a python script to the send a service call to gazebo_ros to spawn 
		a URDF robot -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
		respawn="false" output="screen" args="-urdf -model p3dx -param robot_description" />

	<!-- ros_control p3rd launch file -->
	<!-- <include file="$(find p3dx_control)/launch/control.launch" /> -->

	<!-- Launch RVIZ >
	<include file="$(find p3dx_description)/launch/rviz.launch" /-->




</launch>
