<?xml version="1.0"?>
<launch>

    <!-- send arm_chair urdf to param server -->
    <param name="arm_chair" command="$(find xacro)/xacro.py $(find robocup_worlds)/objects/arm_chair.urdf" /> 
	
    <!-- spawn uploaded object model -->
    <node name="arm_chair1" pkg="gazebo_ros" type="spawn_model" args="-urdf -param arm_chair -model arm_chair1 -x 2.2 -y -1.5 -z 0.0" respawn="false" output="screen" /> 

    <!-- spawn uploaded object model -->
    <node name="arm_chair2" pkg="gazebo_ros" type="spawn_model" args="-urdf -param arm_chair -model arm_chair2 -x 2.2 -y -3.0 -z 0.0" respawn="false" output="screen" /> 

    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <!-- send corrogated_box_two urdf to param server -->
    <param name="corrogated_box_two" command="$(find xacro)/xacro.py $(find ensta_gazebo_objects)/common/objects/corrogated_box_two.urdf" /> -->
	
    <!-- spawn uploaded stool model -->
    <node name="corrogated_box_two" pkg="gazebo_ros" type="spawn_model" args="-urdf -param corrogated_box_two -model corrogated_box_two -x 2 -y -3.5 -z 0.0 -R 3.14 -P 0 -Y 0" respawn="false" output="screen" /> 


    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <!-- send corrogated_box_two urdf to param server -->
    <param name="corrogated_box" command="$(find xacro)/xacro.py $(find ensta_gazebo_objects)/common/objects/corrogated_box.urdf" /> -->
	
    <!-- spawn uploaded stool model -->
    <node name="corrogated_box1" pkg="gazebo_ros" type="spawn_model" args="-urdf -param corrogated_box -model corrogated_box1 -x 2.6 -y -0.750 -z 0.0 -R 3.14 -P 0 -Y 0" respawn="false" output="screen" /> 

    <!-- spawn uploaded stool model -->
    <node name="corrogated_box2" pkg="gazebo_ros" type="spawn_model" args="-urdf -param corrogated_box -model corrogated_box2 -x 4.5 -y -0.50 -z 0.0 -R 3.14 -P 0 -Y 0" respawn="false" output="screen" /> 


</launch>



