<?xml version="1.0"?>

<robot name="demo-3">

	<!-- dummy_link -->
	<link name="dummy_link">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.00 0.00 0.00" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.00 0.00 0.00" />
			</geometry>
		</collision>
	</link>


<!-- walls -->

	<!-- north_wall -->
	<link name="north_wall">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="20 0.01 2.60" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="20.02 0.03 2.62" />
			</geometry>
		</collision>
	</link>
	
	<joint name="joint_north_wall" type="fixed">
		<origin xyz="0 10 1" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="north_wall" />
	</joint>

	<!-- east_wall -->
	<link name="east_wall">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.01 20 2.60" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.03 20.02 2.62" />
			</geometry>
		</collision>
	</link>
	
	<joint name="joint_east_wall" type="fixed">
		<origin xyz="10 0 1" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="east_wall" />
	</joint>

	<!-- south_wall -->
	<link name="south_wall">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="20 0.01 2.60" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="20.2 0.03 2.62" />
			</geometry>
		</collision>
	</link>
	
	<joint name="joint_south_wall" type="fixed">
		<origin xyz="0 -10 1" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="south_wall" />
	</joint>
	

	<!-- west_wall -->
	<link name="west_wall">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.01 20 2.60" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.03 20.02 2.62" />
			</geometry>
		</collision>
	</link>
	
	<joint name="joint_west_wall" type="fixed">
		<origin xyz="-10 0 1" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="west_wall" />
	</joint>


 <gazebo reference="north_wall">
	<material>Gazebo/White</material>
	<selfCollide>false</selfCollide>
 </gazebo>
 <gazebo reference="south_wall">
	<material>Gazebo/White</material>
	<selfCollide>false</selfCollide>
 </gazebo>
 <gazebo reference="east_wall">
	<material>Gazebo/White</material>
	<selfCollide>false</selfCollide>
 </gazebo>
 <gazebo reference="west_wall">
	<material>Gazebo/White</material>
	<selfCollide>false</selfCollide>
 </gazebo>

</robot>
