<?xml version="1.0"?>

<robot name="simple_box">
  <link name="my_box">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="0.04" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
     </inertial>

     <visual>
       <origin xyz="0 0 0"/>
       <geometry>
         <box size="1.5 1.5 0.9" />
       </geometry>
     </visual>

     <collision>
       <origin xyz="0 0 0"/>
       <geometry>
         <box size="1.5 1.5 0.9" />
       </geometry>
     </collision>
  </link>

  <gazebo reference="my_box">
    <material>Gazebo/Red</material>
  </gazebo>
</robot>


